<div id="hotels" class="col-md-4">
    <h3>Hotels</h3>
    <select id= 'hotel1' name="hotel">
    <!--
    	{% for hotel in hotels %}
    	<option>{{ hotel.name }}</option>
    	{% endfor %}
    -->
    </select>
    <button type="button" class="setbutton put btn btn-primary btn-sm">set</button>
</div>
<div id="things-to-do" class="col-md-4">
    <h3>Things To Do</h3>
    <select id= 'thingtodo' name="thing-to-do"></select>
    <button type="button" class="addbuttontodo put btn btn-primary btn-sm">add</button>
</div>
<div id="restaurants" class="col-md-4">
    <h3>Restaurants</h3>
    <select id= 'resturantadd'name="restaurant"></select>
    <button type="button" class="addbuttonres put btn btn-primary btn-sm">add</button>
</div>