<div class="btn-toolbar hereadd" role="toolbar">
    <div id="days" class="btn-group">
  <button class="btn-primary idDay1" type="button">Day 1</button>
    </div>
    <button id="add-day" type="button" class=" addButton btn btn-default">+ Add Day</button>

</div>
<div id="this-plan1" class="plans">
    <h3>Plan for <span id="this-day"><span id="this-title"> day 1</span><button type="button" class="remove btn btn-danger btn-xs">x</button></span></h3>
    <div id="this-hotel" class="panel panel-default">
        <div class=" add-to-hotel panel-heading">Hotel</div>
        <ul class="list-group clearfix"></ul>
    </div>
    <div id="these-things-to-do" class="panel panel-default">
        <div class="panel-heading">Things To Do</div>
        <ul class="list-group clearfix"></ul>
    </div>
    <div id="these-restaurants" class="panel panel-default">
        <div class="panel-heading">Restaurants</div>
        <ul class="list-group clearfix"></ul>
    </div>
</div>